.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.filters h1, .filters p {
    display: inline;
}

.filters h1 {
    font-size: 1.4em;
}

.filters article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 33.333333%
}