<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.silviaodwyer.inversion">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:largeHeap="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".VideoEditor"
      android:label="@string/title_activity_video_editor"></activity>
    <activity
      android:name=".ImageEditor"
      android:label="@string/title_activity_image_editor" />
    <activity android:name=".EffectDetail" />
    <activity android:name=".Videos" />
    <activity android:name=".Images" />
    <activity
      android:name=".HomeActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
