/* Navigation logo */
.logo {
    align-items: flex-start;
    grid-area: navleft;
    padding: 0.85em;
    color: gainsboro;
    font-size: 1.2em;
}
    
nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    text-decoration: none;
    display: inline;
    padding: 1em;
    cursor: pointer;
}